<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Shortster</h1>
      <form action="/shortenurl" method="POST">
        <label for="fullUrl">Enter a long url to make it shorter</label>
        <input
          class="form-input"
          required
          placeholder="url"
          type="url"
          name="fullUrl"
          id="fullUrl"
        />
        <br />
        <label for="shortUrl">Custom shortcode (optional)</label>
        <input class="form-input" type="text" name="shortUrl" id="shortUrl" />
        <br />
        <button class="btn" type="submit">Make it shorter!</button>
      </form>
      <div id="errors">
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Full URL</th>
            <th>Short URL</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% allUrls.forEach(url => { %>
          <tr>
            <td><a href="<%= url.fullUrl %>"><%= url.fullUrl %></a></td>
            <td><a href="<%= url.shortUrl %>"><%= url.shortUrl %></a></td>
            <td><a href="<%= url.shortUrl %>/stats">stats</a></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
