<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Shortster</h1>
        <a class="btn" href="/">Back</a>

      <div>
        <p> Created at:
            <%= (new Date(data.createdAt)).toLocaleDateString("en-GB") %> <%= (new Date(data.createdAt)).toLocaleTimeString("en-GB")%>
        </p>
        <p> Last visit: 
            <%= (new Date(data.lastVisit)).toLocaleDateString("en-GB") %> <%= (new Date(data.lastVisit)).toLocaleTimeString("en-GB")%>
        </p>
        <p>
            Total clicks: 
            <%= data.clicks %>
        </p>
      </div>

    </div>
  </body>
</html>
